html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    background: linear-gradient(to right, #6c757d, #000000);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
header {
    text-align: center;
    color: #000000;
    padding: 10px;
}

#homeBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* set the minimum height of homeBody to the height of the viewport */
    justify-content: space-between; /* position the elements inside homeBody using space-between */
    position: absolute;
    /* right: 0px; */
    text-align: center;
}
  
.content {
    flex: 1;
}  

#formDiv{
    border-radius: 15px 15px 0px 0px;
    border: 2px solid orangered;
    background-color: #adb5bd;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}

#showMessages{
    background-color: #ffffff;
}
  
.form {
    width: 80%;
}
  

.active a {
    color: white;
}

.message-row {
    display: flex;
    align-items: center;
}
  
.file-input {
    display: none;
}
  
/* .file-button { */
    /* background-color: #007bff; */
    /* color: white;
    padding: 5px 10px;
    border-radius: 5px;
} */
  
  /* .send-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  } */
  

      
  #groupBtn {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }

#groupBtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    box-shadow: 5px 5px 10px #360033 , -5px -5px 10px #360033 ;
    text-decoration: none;
  }
