html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    background: linear-gradient(to right, #6c757d, #000000);
    flex-direction: column;
}
  
header {
    text-align: center;
    color: #000000;
    padding: 10px;
}
  
.content {
    flex: 1;
}  

#formDiv{
    border-radius: 15px 15px 0px 0px;
    border: 2px solid orangered;
    background-color: #adb5bd;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}

#showMessages{
    background-color: #ffffff;
    /* width: 100%; */
}
  
.form {
    width: 800px;
}

@media (max-width: 800px) {
    row {
        width: 100%;
        margin: 0;
    }
}


  


  