html, body {
    height: 100%;
    margin: 0;
}
  
body {
    display: flex;
    background: linear-gradient(to right, #6c757d, #000000);
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
  
header {
    text-align: center;
    color: #000000;
    padding: 10px;
}

#homeBody {
    width: 75%;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: space-between; 
    position: absolute;
    right: 0px;
}

#add-user{
    padding: 20px;
}

aside input {
    width: 80%;
    height: 30px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    background-color: #ffffff;
  }
  aside input::placeholder {
    color: #6d1e1e;
  }



.content {
    flex: 1;
}  

#formDiv{
    border-radius: 15px 15px 0px 0px;
    border: 2px solid orangered;
    background-color: #adb5bd;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}

#showMessages{
    background-color: #ffffff;
}
  
.form {
    width: 80%;
}
  

.active a {
    color: white;
}

.message-row {
    display: flex;
    align-items: center;
}
  
.file-input {
    display: none;
}


      
  #groupBtn {
    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }

#groupBtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    box-shadow: 5px 5px 10px #360033 , -5px -5px 10px #360033 ;
    text-decoration: none;
  }





  /* Sidebar CSS */

#sideHam {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

#homeHam {
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}
  
.hamburger-menu div {
    width: 25px;
    height: 3px;
    background: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%);
    margin: 5px 0;
}

.sidebar {
    display: none;
    position: fixed;
    width: 25%;
    height: 100vh;
    background-image: linear-gradient(to right, #780206, #061161);
    font-size: 0.65em;
    left: 0;
    transition: left 0.4s ease-out;
}

.active-sidebar {
    display: block;
  }



.active a {
    color: white;
}

